.navbar {
    height: 52px;
}

.navbar-header: {
    height: 54px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
}

.contenedorSession {
    width: 65%;
    height: 54px;
    float: right;
}

@media ( max-width : 320px) {
    .contenedorSession {
        width: 45%;
    }
}

.userContainer {
    color: #fff;
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    margin-top: 5px;
    padding: 9px 11px;
    margin-right: 10%;
    border-radius: 50%;
    position: relative;
    -moz-border-radius: 50%;
    background-color: #fe9a2e;
    -webkit-border-radius: 50%;
}

.userContainer:hover {
    background: #df3a01;
}

.glyphicon-user {
    font-size: 22px;
}

@media ( min-width : 768px) {
    .userContainer {
        padding: 7px 11px;
    }
}

#formularioLogin {
    width: 100%;
    float: right;
    height: auto;
    margin-top: 5px;
    background: #fe9a2e;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.botonSubmit {
    display: inline-block;
    margin-bottom: 15px;
}

.barrita {
    height: auto;
    margin-top: -20px;
    background: #373737;
}

.form-group {
    width: 78%;
    height: auto;
    padding: 0px 0% 0px 2%;
}

.searchInput {
    width: 70%;
    height: 30px;
    margin-right: 0px;
    display: inline-block;
}

.btn-default {
    width: 40px;
    height: 30px;
    margin-left: 0px;
    display: inline-block;
}

.posicion {
    position: static;
}

.page-head-line {
    color: #f0677c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f0677c;
}

h3 {
	/*color: #8CC1E9;*/
	color: #5cb3c0;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h4 {
	/*color: #8CC1E9;*/
	color: #5cb3c0;
	margin-top: 5px;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.top20 {
	color: #f0677c;
	margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f0677c;
}

.top0 {
	color: #f0677c;
	margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f0677c;
}


.descripcion {
	color: #333;
	font-size: 14px;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.noLine {
	border: none;
}

.campoTexto {
	display: inline-block;
}

.red {
	margin-top: -5px;
	color: #f0677c;
}


/*@import url(http://fonts.googleapis.com/css?family=Roboto); 

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#F0677C;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}

header {
    background-color:orange;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.left-div {
    padding-left: 80px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}

.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #FE9A2E;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #DF3A01!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 5px;
    }

.menu-section {
    background-color: #3D3D3D;
    padding-left: 10px;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #FF4000;  //navegacion
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #FE9A2E!important; //menu respo
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #fff!important; //fondo menu
}

.navbar-inverse {
    background-color: #FF8000;  //menu
    border-color: transparent;
}

.navbar-toggle {
    background-color: orange;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #FF4000;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 90px;
}

.idDish {
	width: 4%;
}

.name {
	width: 20%;
}

.options {
	width: 20%;
}

*/
